<!DOCTYPE html>
<html>
<head>
  <title>Flight Mapper</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
  <h1>Flight Mapper</h1>
  <form action="/shortest_path" method="post">
    <label for="source">Source Airport:</label>
    <input type="text" id="source" name="source"><br><br>
    <label for="destination">Destination Airport:</label>
    <input type="text" id="destination" name="destination"><br><br>
    <input type="submit" value="Find Shortest Path">
  </form>
</body>
</html>
