<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>World Map</title>
    <style>

    body,svg{
      width: 100%;
      height: 100%
    }
    svg {
      margin: 0;
      display: inherit;

    }

      path {
        stroke: white;
        stroke-width: 4px;
        fill: lightgrey;


      }

    	/* For centering */


    	.g path {
    		stroke-width: 1px;
    		stroke: rgb(210, 184, 184);
    		fill: #DBDBDB;
    		cursor: pointer;
    	}
    	.g path:hover, path.highlighted {
    		fill: tomato;
    	}
    
      .bubble {
        fill: rgba(224, 200, 200, 0.3);
        stroke: #fff;
        stroke-width: 0.01px;
      }


    	.arcs path {
    	  stroke-width: 0.5px;
    	  stroke: blue;
    	  pointer-events: none;
    	  fill: none;
    	}

      circle:hover > title {
        background-color: #fff;
        font-size: 12px;
      }
    </style>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v0.min.js"></script>
  </head>
  <body>

    <script type="text/javascript">

    var arcdata =[ ];
    var bubbles = [];

      var width = 1000;
      var height = 510;
      var height2 = 370

      var projection = d3.geo.mercator().scale(162);

      var svg = d3.select("body").append("svg")
          .attr("viewBox", "0 0 " + width + " " + height2)
          .attr("width", width)
          .attr("height", height)

      var path = d3.geo.path()
          .projection(projection);

      var g = svg.append("g");

      var arcs = svg.append("g")
          .attr("class","arcs");

      d3.json("static/world.json", function(error, topology) {
          g.selectAll("path")
            .data(topojson.object(topology, topology.objects.countries)
                .geometries)
            .enter().append("path")
            .attr("d", path)
            .on("click",clicked);


            d3.json("static/arcdata.json", function(error, arcdata) {
              arcs.selectAll("path")
                .data(arcdata)
                .enter().append("path")
                .attr('d', function(d) {
                  return lngLatToArc(d, 'sourceLocation', 'targetLocation', 1);
                })
                
            });

          d3.json("static/bubbles.json", function(error, bubbles) {
        	arcs.selectAll("path")
        		.data(bubbles)
        		.enter().append("path")
        		var radius = d3.scale.sqrt()
        .domain([0, 1e6])
        .range([0, 1]);

          svg.append("g")
              .attr("class", "bubble")
          svg.selectAll("circle")
            .data(bubbles).enter()
            .append("circle")
            .attr("cx", function (d) { console.log(projection(d)); return projection(d)[0]; })
            .attr("cy", function (d) { return projection(d)[1]; })
            .attr("r", function (d) { return d[2]; })
            .style('fill-opacity', 0.5)
            .style('stroke', "black")
            .style('stroke-width', 0.01)
            .append("title")
            .text(function(d) { return "Latitude: " + d[0] + ", Longitude: " + d[1] + ", Airport: " + d[3] + ", Names: " + d[4]; });
   
    });
  });

      	
      	function lngLatToArc(d, sourceName, targetName, bend){
      		
      		bend = bend || 1 ;
      		

      		var sourceLngLat = d[sourceName],
      				targetLngLat = d[targetName];

      		if (targetLngLat && sourceLngLat) {
      			var sourceXY = projection( sourceLngLat ),
      					targetXY = projection( targetLngLat );

      			
      			var sourceX = sourceXY[0],
      					sourceY = sourceXY[1];

      			var targetX = targetXY[0],
      					targetY = targetXY[1];

      			var dx = targetX - sourceX,
      					dy = targetY - sourceY,
      					dr = Math.sqrt(dx * dx + dy * dy)*bend;

      			
      			var west_of_source = (targetX - sourceX) < 0;
            
      			if (west_of_source) return "M" + targetX + "," + targetY + "A" + dr + "," + dr + " 0 0,1 " + sourceX + "," + sourceY;
      			return "M" + sourceX + "," + sourceY + "A" + dr + "," + dr + " 0 0,1 " + targetX + "," + targetY;

      		} else {
      			return "M0,0,l0,0z";
      		}
      	}

      	
      	function clicked(d,i) {

      		
      		var x, y, k;

      		if (d && centered !== d) {
      	    // Compute the new map center and scale to zoom to
      			var centroid = path.centroid(d);
      			var b = path.bounds(d);
      			x = centroid[0];
      			y = centroid[1];
      			k = .8 / Math.max((b[1][0] - b[0][0]) / width, (b[1][1] - b[0][1]) / height);
      			centered = d
      		} else {
      			x = width / 2;
      			y = height / 2;
      			k = 1;
      			centered = null;
      		}

      		// Highlight the new feature
      		g.selectAll("path")
      			.classed("highlighted",function(d) {
      					return d === centered;
      			})
      			.style("stroke-width", 1 / k + "px"); // Keep the border width constant

      		//Zoom and re-center the whole map container
      		
      		svg
      			.transition()
      			.duration(500)
      			.attr("transform","translate(" + width / 2 + "," + height / 2 + ")scale(" + k + ")translate(" + -x + "," + -y + ")");
      	}
    </script>
  
  </body>
</html>
