<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Top Routes</title>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <style>

    body{
        background-image: url('static/images/flight.jpeg');
    }

    svg {
        border: 1px solid #ddd;
    }

    #bar-chart{
        display: flex;
        justify-content: center;
    }

    .busiest_airports{
        text-align: center;
        margin-top: 5rem;
        
    }

  </style>
</head>
<body>
    <h1 style="text-align: center"> Top 10 Busiest Routes</h1>
    <!-- Add 2 buttons -->
    <button onclick="changeColor('blue')">Get blue</button>
    <button onclick="changeColor('red')">Get red</button>

    <div id="bar-chart" ></div>

    <section class="busiest_airports">
        <h1>Busiest Airports</h1>
        <p>Based on number of flights at each Airport</p>
    </section>

    <div id="kmeans cluster"></div>
    
    
    <script>
    // Load the JSON data
        d3.json("static/top_routes_1.json").then(function(data) 
        {
            
            // Define the dimensions of the chart
            var height = 600;
            var width = 700;
            var margin = { top: 90, right: 40, bottom: 70, left:50};
            var width = width - margin.left - margin.right;
            var height = height - margin.top - margin.bottom;
            
            // Create the SVG element
            var svg = d3.select("#bar-chart")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                // .attr('viewBox', [0,0, width, height]);
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            
            // Create the x and y scales
            var x = d3.scaleBand()
                .range([0, width])
                .padding(0.2)
                .domain(data.map(function(d) { return d["Source Airport"] + " to " + d["Destination Airport"]; }));
            
            var y = d3.scaleLinear()
                .range([height, 0])
                .domain([0, d3.max(data, function(d) { return d["Num flights"]; })]);
            
            // Create the x and y axes
            var xAxis = d3.axisBottom(x);
            var yAxis = d3.axisLeft(y);
            
            // Add the x-axis to the chart
            svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis)
                .selectAll("text")
                .attr("transform", "rotate(-90)")
                .attr("dx", "-1em")
                .attr("dy", "-0.5em")
                .attr("transform", "rotate(-65)")
                .style("text-anchor", "end");
            
            // Add the y-axis to the chart
            svg.append("g")
                .call(yAxis)
                .append("text")
                .attr("fill", "#000")
                .attr("transform", "rotate(-90)")
                .attr("y", 8 - margin.left)
                .attr("x", 0 - (height / 2))
                .attr("dy", "0.71em")
                .style("text-anchor", "end")
                .text("Number of Flights");
            
            // Add the bars to the chart
            svg.selectAll(".bar")
                .data(data)
                .enter().append("rect")
                .attr("class", "bar")
                .attr("x", function(d) { return x(d["Source Airport"] + " to " + d["Destination Airport"]); })
                .attr("width", x.bandwidth())
                .attr("y", function(d) { return y(d["Num flights"]); })
                .attr("height", function(d) { return height - y(d["Num flights"]); })
                .attr("fill", "steelblue")
                .on('mouseover', function(d) {
                    d3.select(this).style('fill', 'mediumblue');
                    console.log('over');
                })
                .on('mouseout', function(d) {
                d3.select(this).style('fill', 'steelblue');
                console.log('out');
                });
   
        });
        
        function changeColor(color){
            d3.selectAll("rect")
                .transition()
                .duration(2000)
                .style("fill", color)
        }

     
  </script>
</body>
</html>
